[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
backtrader = "*"
jupyter = "*"
ipython = "*"
python-binance = "*"
colorama = "*"
matplotlib = "*"

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"

[requires]
python_version = "3.8"
